[Unit]
# Description of the service
Description=Demo Service to run FastAPI in the background
# Specifies that the service should start after the network is available
After=network.target

[Service]
# The user under which the service will run
User=sanau
# The group under which the service will run
Group=sanau
# The working directory for the service
WorkingDirectory=/home/sanau/fastapi/src
# Set the environment PATH variable to include the virtual environment's bin directory
Environment="PATH=/home/sanau/fastapi/env/bin"
# Load additional environment variables from a file
EnvironmentFile=/home/sanau/.env
# Command to start the FastAPI application using Gunicorn with 4 workers
ExecStart=/home/sanau/fastapi/env/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
# Specifies that the service should be started in multi-user mode
WantedBy=multi-user.target